.button-clear{
  background: none !important;
}

.form-table {
  display: table;
  width: 100%;

  & > * {
    display: table-cell;
    vertical-align: middle;
  }

  &.-vtop > * {
    vertical-align: top;
  }

  &.-compact {
    & > :first-child {
      padding: 0;
      width: 1%;
    }

    & > :not(:first-child) {
      padding-left: 20px;
    }
  }
}
